@use 'variables' as *;

//Reset styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('../assets/bg.png') no-repeat center center/cover;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
}

.logo{
    margin-left: 30px;
    margin-top:20px;
    width: 300px;
    height: auto;

    img {
        width: 250px;
        height: auto;
    }
}

.main-content {
    margin-left: 20px;
    margin-right: 20px;

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin: $base_margin;
        //background-color: $secondary_color_light;
    
        .content-left {
            flex: 2;
            margin-left: $base_margin;

            .text-content {
                font-size: $font_size_xxxl;
            }

            .btn {
                background-color: $accent;
                font-family: 'Ubuntu', sans-serif;
                color: white;
                padding: $base_padding;
                border: none;
                border-radius: 10px;
                font-size: $font_size_md;
                margin-top: 20px;
            }

        }
    
        .content-right {
            flex: 1;
            margin-right: 5px;
        }
    }
}


